.phIcon{
    margin: 2% 0 4% 45%;
}

.activatedTitle{
    text-align: center;
    color: rgb(20, 44, 87);
    font-family: Arial, Helvetica, sans-serif;
}

.activatedLink{
    margin-left: 46%;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px 9px;
    background-color:rgb(182, 218, 250);
    color: rgb(12, 44, 87);
    border-radius: 5px;
}

.activatedLink:hover{
    cursor: pointer;
    background-color: rgb(44, 104, 160);
    color: white;
    text-decoration: none;
}

.divActivated{
    background-color: rgb(249, 251, 253);
    border-radius: 10px;
    margin: 4% 20%;
    padding-bottom: 2%;
}