#doctoradding {
    margin-left: 30px;
    background-color: palevioletred;
    border-color: palevioletred;

}

.dugmad {
    margin-left: 10px;
    padding: 5px;
    background-color: palevioletred;
    border-color: palevioletred;
}