.cardContainer{

    margin: 20px 0px 0px 3px;
    width: 100%;
    height:auto;
    padding: 10px;
    box-shadow: 3px 4px 5px #d8d8d8;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.containerRenderCardsClinic{
    display: flex;
    flex-direction:  column;
    flex-wrap: wrap;
    margin: -170px 0px 10px 0px;
    width: 85%;
    height: 20%;


}

.cardBody{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7cb92;
    color: gray;
}

.cardTitle{
    text-align: center;
    background-color: #f7cb92;
    color: gray;

}

.cardText{
    font-size: 20px;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: gray;

}

.addAdmin{
    float: left;
    margin-left: 14%;
}


.tabela{

  margin: 0px 100px 100px 100px;
}

.naslovkartice{
  margin: 0px 0px 0px 20px;
}

.terms{

  border-style: solid;
  border-color: black;
  padding: 20px;
}
