.pozadinica{
    background-color: white;
    width:100%;
    height: 100%;
    margin: 70px 0px 0px 0px;
}

.sobice{
    margin: 100px 0px 0px 70px;
}

.containerForFilters{
  margin: 30px 0px 0px 50px;
  background-color: rgba(182, 218, 250,0.5);
  width: 750px;
  height: 80px;
}

.findroombutton{
  width:200px;
  height: 30px;
  margin: 0px 0px 0px 35px;
  padding: 2.5px;
}

.inputfiled{
  margin:20px 0px 0px 20px;
  width:250px;
  height:30px;
}
