

.sobice{
    margin: 100px 0px 20px 70px;
}

.containerForFilters{
  margin: 30px 70px 20px 70px;
  background-color: rgba(182, 218, 250,0.5);
  width: 80%;
  height: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

.findroombutton{
  width:200px;
  height: 38px;
  margin: 0px 0px 0px 35px;
  padding: 2.5px;
  font-size: large;
}

.inputfiled{
  margin:23px 0px 0px 80px;
  width:270px;
  height:33px;
}

.assignInfo {
  position: fixed;
    margin: 2px 0 0 1000px;
    width: 170px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 1%;
    border-radius: 5px;
    background: rgb(236, 242, 245);
}
