.ccacardC{
    width: 66%;
    box-shadow: 2px 2px 2px #d8d8d8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
}

.userIconCCA{
    padding: 5px;
    margin-left: 34%;
}

.btnUpdateCCA{
    margin-left: 33%;
}

.myinfocca{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 31%;
    font-size: 150%;
    color: rgb(26, 66, 112);
}