.ccacardC{
    width: 54%;
    box-shadow: 3px 3px 4px #d8d8d8;
}

.userIconCCA{
    padding: 5px;
    margin-left: 34%;
}

.btnUpdateCCA{
    margin-left: 33%;
}

.myinfocca{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 31%;
    font-size: 150%;
    color: rgb(26, 66, 112);
}