.cardContainerDoktor{

    margin: 10px 0px 0px 90px;
    width: 130%;
    height: auto;
    padding: 10px;
    box-shadow: 3px 4px 5px #d8d8d8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 76, 90);
    margin-bottom:10px;
    background-image: url("../icons/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;


}


.cardBodyDoktor{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 76, 90);

}

.cardTitleDoktor{
    text-align: center;
    color: rgb(34, 21, 21);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 76, 90);

}

.cardTextDoktor{
    font-size: 20px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 76, 90);

}

.addDoktor{
    float: left;
    margin-left: 14%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 76, 90);
}


.tabela{

  margin: 0px 100px 100px 100px;
}

.naslovkartice{
  margin: 0px 0px 0px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 76, 90);
}

.terms{

  border-style: solid;
  border-color: black;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 76, 90);
}

.termsdiv{
  background-color: transparent;
  margin: 20px 0px 0px 0px;
}
