.col-md-2clinic{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: -180px;

}

#manage{
    color: cornflowerblue;
    margin-left: 45px;
    
    padding: 20px;
}


