.naslov{
 margin: 80px 0px 0px 0px;
 font-size: 35px;
}

.nesto{
margin: 200px -40px 0px 0px;
display: flex;
flex-direction: column;
width: auto;
height: auto;

}

#naslovpravi{
  margin: -80px 0px 0px 50px;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}


.karticaBolesti{

  width: 250px;
  height: auto;
  margin: 50px 0px 0px 0px;
}

.pozadina{

  background-color: white;
  margin: 150px 0px 0px 0px;

}

.filters{

  margin: -10px 0px 0px 30px;
  background: #c1cee3;
  width: 30%;
  height: 300px;
  border-style: solid;

}

.filterinput{
  margin: 0px 0px 30px 35px;
}

.select{
  width: 45%;
  margin: -35px 0px 0px 250px;

}

.filterbutton{

  margin: 20px 0px 10px 30px;
  width: 100px;
}

.datepicker{

margin: 5px 30px 0px 37px;

}

.timepicker{

  margin: 20px -150px 0px 0px;
}

.infobutton{
  margin: 5px 0px 20px 450px;
  background-color: transparent;
}

.selectedExamType{
  width: 200px;
  margin: 10px 0px 0px 30px;
}

.examtypelabel{
  margin: 0px 30px 0px 30px;
}

.filterlabel{
  margin: 0px 0px 0px 35px;
}

.filterresults{

  margin: 10px 0px 0px 30px;
}

.filterresultslabel{
  margin: 25px 0px 0px 30px;
  border-style: solid;
  border-color: black;
  width: 80%;
}

.slikazaklinike{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  margin: -10px 10px 0px 0px;

}
