#manage {
    color: cornflowerblue;
    margin-left: -7px;
    margin-bottom: 80px;
    padding: 40px;
}

table {
    margin-left: 220px;
}


#tablenameclinic {
    margin-left: 220px;
    margin-top: -110px;
}

#tablenameclinicadmin {
    margin-left: 220px;
    margin-top: -110px;
}