.text-center-clinic{
    margin-top: 20px;
}

.backgroundManageClinicProfile{
margin: 50px 0px 0px 25%;

}

.ManageClinicProfileCard{

  width: 100%;
  height: 400px;
  padding: 20px;
}

.doctorListDiv{

}

.clinicHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    color:cornflowerblue;

}

.clinicTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

.valueNameClinic{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.inputDes{
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 7px;
}

.firstColClinic{
    display: flex;
    flex-direction: column;
}

.secondColClinic{
    display: flex;
    flex-direction: column;
    margin: 5px 10px 5px 20px;
    width: 80%;

}

.clinicCol{
    display: flex;
    flex-direction: row;
}

.btnEditClinic{
    margin: 4% 0% 0% 45%;
}

.inputDes2{
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 7px;
}

#pricelist {
    float: right;
    margin-top: -490px;
    margin-right: 97%;
    padding: 35px;
    width: auto;
    height: auto;
}

#doctorlist {
    padding: 20px;
    margin-top: 2%;
    float: left;
    width: 720px;
    height: auto;
    margin: -490px 0px 0px 450px;
}

#header {
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

#doctorheader {
    color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}

#pricelistable {
    width: max-content;
    padding: 20px;
}

#karticaKlinika {
    margin-top: 80px;
}

#slikamoney {
    size: 10em;
}
