.container-clinic{


  box-shadow: 3px 4px 5px #d8d8d8;
  margin: 100px 100px 100px 100px;

}

.row-clinic{
  width: inherit;

}

#tablename{

 color: #60b0f4;

}

.header{  color: #60b0f4; }

.klinike{

  margin: 80px 350px 0px 350px;
}

.clinic-card{

  width: 1000px;

}

.selectoptions{

  width: 300px;
}



.contrainer-options-picker{
  color: #60b0f4;
}

.grupa1 {

  font-size: 18px;
  font-color:  #60b0f4;
  margin: 20px 0px 0px 0px;

}

.grupa {

  font-size: 18px;
  font-color:  #60b0f4;
  margin: 20px 0px 0px 0px;

}


.red {

margin: 10px 0px 10px 0px;
background-color: #C8C8C8;

}
