.karticaClinicAdmin{
    margin: auto;
    margin-top: 99px;
    width: 44%;
    padding: 0 1.5%;
}

.admTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 42%;
    margin-bottom: 26%;
    margin-top: 9px;
}

.admLabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.admBtn{
    margin: 5% 0 1% 37.5%;
}

.cadmIcon{
    margin-left: 40.5%;
}