.naslov{
 margin: 80px 0px 0px 0px;
 font-size: 35px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 19px;
 color: rgb(65, 76, 90);

}

.Klinike{
margin: 150px -40px 0px 0px;
display: flex;
flex-direction: column;
width: auto;
height: auto;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 19px;
color: rgb(65, 76, 90);


}

#naslovpravi{
  margin: 0px 0px 0px 35px;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 76, 90);
  margin-top: 2.5px;
}

.clearButton{

  height: 50px;
  width: 50px;
  margin: 0px 0px 0px 20px;
  border-radius: 10px;
  border-color: transparent;
}

.buttonforshowingfilters{

  margin: 0px 0px 0px 30px;
  height: 50px;
  width: 50px;
  box-shadow: 3px 4px 5px #d8d8d8;;
  border-radius: 10px;
  border-color: transparent;
}

.buttonforhiddingfilters{
  margin: 0px 0px 0px -150px;
  height: 50px;
  width: 50px;
  box-shadow: 3px 4px 10px #706e6e;
  border-radius: 10px;
  border-color: transparent;
}

.pozadina{

  width: 100%;
  height: 100%;
  margin: 47px 0px 0px 50px;
  background-image: url("../icons/ambulance.svg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0px 0px 0px;

}

.filters{

  margin: 25px 0px 0px 30px;
  background: #c1cee3;
  width: 800px;
  height: 200px;
  box-shadow: 3px 4px 10px #d8d8d8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  border-radius: 10px;
  background-color: transparent;
  border-color: transparent;


}

.everythingelse{
  margin: -200px 0px 0px 0px;
}

.filterinput{
  margin: 0px 0px 30px 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  box-shadow: 3px 4px 10px #706e6e;
  border-radius: 10px;
  border-color: transparent;

}

.select{
  width: 45%;
  margin: -35px 0px 0px 250px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  box-shadow: 3px 4px 10px #706e6e;
  border-radius: 10px;
  border-color: transparent;


}

.filterbutton{

  margin: 30px 0px 0px 30px;
  width: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  box-shadow: 3px 4px 10px #706e6e;
  border-radius: 15px;
  border-color: transparent;
  background-color: transparent;

}

.datepicker{

margin: 20px 0px 0px 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(65, 76, 90);
box-shadow: 3px 4px 10px #706e6e;



}

.timepicker{

  margin: 20px -150px 0px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  box-shadow: 3px 4px 10px #706e6e;
  height: 35px;

}

.infobutton{
  margin: 5px 0px 20px 600px;
  background-color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  height: 50px;
  width: 50px;
  box-shadow: 3px 4px 10px #706e6e;
  border-radius: 10px;
  border-color: transparent;

}

.selectedtype{
  width: 250px;
  margin: 25px 0px 0px 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  box-shadow: 3px 4px 10px #706e6e;
  height: 35px;

}

.examtypelabel{
  margin: 0px 30px 0px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);


}

.filternaslov{
  margin: -60px 0px 0px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
}

.filterresults{

  margin: 10px 0px 0px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  height: 50px;
  border-radius: 10px;


}

.filterresultslabel{
  margin: 25px 0px 0px 30px;
  width: 80%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);

}

.slikazaklinike{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  margin: -10px 10px 0px 0px;

}
