#manage {
    color: cornflowerblue;
    margin-left: -7px;
    margin-bottom: 80px;
    padding: 40px;
}

table {
    margin-left: 250px;
}

#tablename {
    margin-left: 250px;
    margin-top: -50px;
}