#predefinedExam {
    margin-top: 45%;
    margin-left: -120%;
    background-color: lightpink;
    border-color: lightpink;
}

#deletedugme{

    margin-top: -20%;
    color: blueviolet;
}

#examedit {

    margin-left: 18%;
}

.addexamtypebutton{
  margin: 0px 0px 0px 100px;
}

.addpredfinedbutton{
  margin: 0px 0px 0px 30px;
}

.col-md-10-drcards{
  margin: 0px 0px 0px 0px;
}
