.cardContainerPregled{

    margin: 30px 0px 10px 0px;
    /*width: 100%;*/
    height: auto;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 76, 90);

    /*background-image: url("../icons/talas.png");

    /* Center and scale the image nicely */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

}

.upcomingexams{
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.oldexams{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.velikakarticapozadina{

  display: flex;
  flex-direction: row;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(65, 76, 90);
  margin: 100px 0px 0px 0px;
  height: auto;

}

.naslovpregleda{
  margin: 0px 0px 10px 190px;
}

.nekiprostor{
  margin: 40px;
}

.cardBodyPregled{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  color: rgb(0, 0, 0);
  margin-top: 6px;
}

.cardTitlePregled{
    text-align: center;
    color: rgb(34, 21, 21);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: rgb(65, 76, 90);

}

.cardBodyPregled{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 76, 90);

}

.addKlinikaPregled{
    float: left;
    margin-left: 14%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(65, 76, 90);
}

.upcoming{
  font-size: 30px;
}

.old{
  font-size: 30px;
}
