.logincard{
  margin: auto;
  margin-top: 200px;
  width: 520px;
  height: auto;
  padding: 10px;
}

.dugme{

  margin: 0px 0px 0px 399px;
}

.lozinka{

margin: 0px 150px 0px 0px;
width: 70px;

}

.mejl{

  margin: -5px 150px 0px 0px;
  width: 70px;

}

.loginpozadina{
  background-image: url("../icons/rg.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.registerA{
  padding-left: 10px;
  cursor: pointer;
  color: rgb(77, 85, 131);
}

.fontPtntP{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  margin-top: 5px;
}

.fontPtntE{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 19px;
  color: rgb(65, 76, 90);
  margin-top: 2.5px;

}