.logincard{
  margin: 300px 0px 0px 850px;
  width: 500px;
  height: auto;
}

.dugme{

  margin: 0px 0px 0px 150px;
}

.lozinka{

margin: 0px 150px 0px 0px;
width: 70px;
box-shadow: 3px 4px 5px #d8d8d8;

}

.mejl{

  margin: -5px 150px 0px 0px;
  width: 70px;
  box-shadow: 3px 4px 5px #d8d8d8;

}

.loginpozadina{
  background-image: url("../icons/vektor.svg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
