#newApp {
    margin-top: 10%;
    height: 300px;
    width: 500px;
    align-self: stretch;
    box-shadow:4px 4px 5px lavender;
    margin-left: 27%;

}

#examButton {
    margin-top: 30%;
    margin-left: 50%;
}

#termId {
    margin-top: -13%;
    margin-left: 40%;
    background-color:thistle;
    border-color: thistle;
    color: indigo;
}