.nurseCard{
    margin: 5% 25% 5% 25%;
    padding-top: -4%;
    padding: 0 1.5%;
}

.nrsIcon{
    margin-left: 41%;
    margin-top: -10px;
}

.nurseTitle{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 44.5%;
    margin-bottom: 12%;
}

.labelNurse{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.nurseBtn{
    margin: 5% 0 1% 37%;
}