

.image {

top: 35%;

}

.headerPatient{
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

}

.kartica{

padding: 10px 10px 3px 10px;
margin: -195px -100px 0px 180px;
width: auto;
background-color: aliceblue;
outline: none;
border: none;

  /*background-image: url("../icons/19366.jpg");

/* Center and scale the image nicely */
/*background-position: center;
background-repeat: no-repeat;
background-size: cover;*/


}


.karticaInfo{
  outline: none;
  border: none;

}

.updateDugme{
  margin: 0px 0px 0px 300px;
}

.text-center{

    background-image: url("../icons/background.png");
}

.username{
  text-transform:capitalize;

}

.pozadinaPacijentProfila{
  margin: 200px 0px 0px 0px;
}
