.formReg{


  width: auto;
  padding: 10px;

}

.regcardR{

  margin: auto;
  margin-top: 25px;
  width: 55%;
  height: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17.5px;
  color: rgb(65, 76, 90);
}

.regbutton{
  width: 94px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: rgb(65, 76, 90);
  float: right;
}

.backgroundReg{

  background-image: url("../icons/rg.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registerA{
  padding-left: 10px;
  cursor: pointer;
  color: rgb(77, 85, 131);
}
